body {
  background-color: midnightblue;
}
.container {
  background-color: lightblue;
  opacity: 90%;
}

#header {
  text-align: center;
  color: thistle;
}

#search-feature {
  text-align: center;
  border: 1px solid black;
  height: 800px;
}

#weather-search {
  margin-top: 30px;
}

#deeper-look {
  text-align: center;
  margin-left: 40px;
  border: 1px solid black;
  height: 400px;
}

#five-day {
  text-align: center;
  margin-left: 40px;
  border: 1px solid black;
  height: 400px;
}

#submit {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: teal;
  border: 0px;
}

#clear {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: teal;
  border: 0px;
}

.history-btn {
  width: 100%;
  padding: 4px;
  display: block;
  margin: 0 auto;
  background-color: teal;
  border: 0px;
  margin-top: 20px;
}
